* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-color: #ddd;
}

ul {
    list-style: none;
}

nav{
    display: flex;
    background-color: #e8e8e8;
    justify-content:space-around;
    height: 50px;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
}

nav .logo{
    color: #707070;
    font-size: 1.3em;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    color: #707070;
    text-decoration: none;
    padding: 17px 18px;
    font-size: 1.1em;
}

/* Toggle / Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative; 

}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightsteelblue;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    position:absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}


.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px,0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
   transform: scale(0);
}

nav ul li a:hover {
    background-color: #333;
    color: #ddd;
    }

.header {
    display: flex;
    justify-content:space-around;
    flex-direction: row-reverse;
}
.gambar {
    padding: 20px;
    max-height: 300px;
    margin-top: 50px;
}
.gambar img{
    max-height: 100%;
    width: auto;
    border-radius: 3px;
}
.keterangan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center; 
    padding:10px 20px;
}

.keterangan button{
    width: 40%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
}

main {
    background-color: #fff;
}

main h2 {
    text-align: center;
    padding: 20px 0;
    color: #707070;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.card {
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    width: 25%;
 }

 .title-card {
    padding: 2px 0;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      
  }

  footer ul {
      display: flex;
      padding: 10px;    
  }
  footer ul img {
      max-width: 30px;
      padding: 0 5px;
  }

  .credit a{
      text-decoration: none;
  }


/* Tablet */
@media screen and (max-width:768px){
    nav ul {
        width: 50%;
    }
    .gambar{
        padding-left: 10;
        padding-right: 10;
        width: 100%;
    }
    .gambar img{
        width: 100%;
    }
   .keterangan button{
       margin-top: 0;
   }

   .card{
       width: 50%;
       padding: 5px;
   }
}

/* SmartPhone */
@media screen and (max-width:578px){
    nav {
       position: fixed;
       width: 100%;
    }
       .menu-toggle{
        display: flex;
      
    }

    nav .logo{
        width: 70%;
    }
    
    nav ul {
        position: absolute !important;
        background-color: black;
        width: 100%;
        top: 50px;
        right: 0;
        left: 0;
        flex-direction: column;
        transform: translateY(-200%);
        transition: all 1s;
        opacity: 0;
        z-index: 566;
    }

    nav ul.slide {
        transform: translateY(0);
        opacity: 1;
        z-index: 2;
    }
    nav ul li a{
        padding: 15px 0 15px 30px;
        display: block;
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-content: center;
    }

    .gambar{
  
        max-height: 100%;
    }

    .card{
        width: 100%;
        padding: 18px;
    }
    
}

@media (min-width:769px){
    .gambar {
        padding: 20px;
        max-height: 340px;
    }
    .gambar img{
        max-height:300px;
    }

}
